<h1>Monsters</h1>
<br/><br/>

<% monster_names = ["Godzilla","King Kong","Triffids"] %>

<ul>
<% monster_names.each do |name| %>
  <li><%= name %></li>
<% end %>
</ul>

<br/><br/>
<%= multiply_it(7) %>