<h1>Users</h1>
<br>

    <% @users.each do |user| %>
    <div class="userDiv">
      <span><strong><%= user.name %></strong></span>
      <span><% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  	<% end %></span>
    </div>
    <% end %>

<br>

<% if @admin.admin? %>
<%= link_to 'New User', new_user_path, :class => "action" %>
<% end %>