<h1>Users</h1>
<br>

    <% @users.each do |user| %>
    <div>
      <p><%= user.name %></p>
      <p><% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  	<% end %></p>
    </div>
    <% end %>

<br>

<% if @admin.admin? %>
<%= link_to 'New User', new_user_path, :class => "action" %>
<% end %>