// Place all the styles related to the Monsters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 $myorange: #f9af45;
 $dullGrey: #666;

.box {
	width:100px;
	min-height:150px;
	display:inline-block;
	float:left;
	margin:5px;
	padding:8px;
	background:#000;
	color:#ffffff;
	border-radius:4px;
	overflow:hidden;
	text-align:center;

h3 {
	margin:5px 0;
	color:$dullGrey;
	font-size:10px;
}

a, a:visited {
	color: $myorange;
	font-size:10px;
}

img {
	width: 100%;
	opacity:0.5;
}

img:hover {
	opacity:1;
}

}

